<!DOCTYPE html>

<html lang="en">
<!--Begin head-->

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, user-scalable=no" name="viewport">
  <!--Begin page title-->

  <title>Super Skroll</title><!--End page title-->
  <!--Begin style sheets-->
  <link href="css/styles.css" rel="stylesheet">
  <link href="css/lightbox.css" rel="stylesheet">
  <!--Begin google fonts links-->
  <link href='http://fonts.googleapis.com/css?family=Oswald:400,300,700' rel=
  'stylesheet' type='text/css'>
  <link href=
  'http://fonts.googleapis.com/css?family=Roboto:400,100,300,500italic,300italic,100italic,500,700,400italic,700italic,900,900italic'
  rel='stylesheet' type='text/css'><!--End google fonts links-->
</head><!--End head-->
<!--Begin Body-->

<body>
  <div class="head--wrap clearfix" id="home">
    <!--Begin main logo-->

    <div class="logo">
      <!--Begin insert edited logo here-->
      <a href="index.html"><img alt="web-template-image-logo" src=
      "img/logo.png"></a><!-- End -->
    </div><!--End main logo-->
    <!--Begin Social media icons-->

    <div class="social--media--wrap">
      <div class="social--media">
        <ul>
          <li>
            <!--Facebook icon image-->
            <a href="#"><img alt="web-template-image-facebook" src=
            "img/facebook.png"></a>
          </li>

          <li>
            <!--Twitter icon image-->
            <a href="#"><img alt="web-template-image-twitter" src=
            "img/twitter.png"></a>
          </li>

          <li>
            <!--Linkdin icon image-->
            <a href="#"><img alt="web-template-image-linkdin" src=
            "img/linkdin.png"></a>
          </li>

          <li>
            <!--Pinterest icon image-->
            <a href="#"><img alt="web-template-image-pinterest"
            src="img/pinterest.png"></a>
          </li><!--Youtube icon image-->

          <li>
            <a href="#"><img alt="web-template-image-youtube" src=
            "img/youtube.png"></a>
          </li>

          <li>
            <!--Tumblr icon image-->
            <a href="#"><img alt="web-template-image-Tumblr" src=
            "img/tumblr.png"></a>
          </li>
        </ul>
      </div>
    </div><!--End Social media icons-->
    <!--Begin navigation-->

    <nav>
      <!--Begin Mobile navigation-->
      <a class="mobile-menu" href="#" id="touch-menu"><i class=
      "icon-reorder"></i>Menu</a> <!--End mobile navigation-->

      <ul class="menu">
        <li>
          <a class="smoothScroll" href="#home">HOME</a>
        </li>

        <li>
          <a class="smoothScroll"  href="#services">SERVICES</a>
        </li>

         <li>
         <a class="smoothScroll"  href="#about--us">ABOUT US</a>
        </li>

         <li>
         <a class="smoothScroll"  href="#gallery">GALLERY</a>
        </li>

         <li>
         <a class="smoothScroll"  href="#contact">CONTACT</a>
        </li>

     
      </ul>
    </nav><!--End Navigation-->
  </div><!--End header wrapper-->
  <!--Start main wrapper-->

  <div class="main--wrap clearfix">
   <!--Start three column icons-->

    <ul class="three--column icon--set clearfix" id="services">
      <!--Start icons Column 1-->

      <li class="three--col--item">
        <h1>- THREE COLUMNS ICONS-</h1><!--Start column 1 content-->
  <div class="icon--img"><img alt="web-template-image-icon"
        class="columns-img" src="img/icon-1.png"></div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Integer in neque libero. Aenean dignissim, elit elementum
        varius mattis.</p>

          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Integer in neque libero. Aenean dignissim, elit elementum
        varius mattis.</p>

          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Integer in neque libero. Aenean dignissim, elit elementum
        varius mattis.</p><!--End column 1 content-->
        <!--Start column 1 image-->

      
        <!--End column 1 image-->
      </li><!--End icons Column 1-->
      <!--Start icons Column 2-->

      <li class="three--col--item">
        <h1>- THREE COLUMNS ICONS-</h1><!--Start column 2 content-->
   <div class="icon--img"><img alt="web-template-image-icon"
        class="columns-img" src="img/icon-2.png"></div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Integer in neque libero. Aenean dignissim, elit elementum
        varius mattis.</p>

          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Integer in neque libero. Aenean dignissim, elit elementum
        varius mattis.</p>

          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Integer in neque libero. Aenean dignissim, elit elementum
        varius mattis.</p><!--End column 2 content-->
        <!--Start column 2 image-->

     
        <!--End column 2 image-->
      </li><!--End icons Column 2-->
      <!--Start icons Column 3-->

      <li class="three--col--item">
        <h1>- THREE COLUMNS ICONS-</h1><!--Start column 3 content-->
        
            <!--Start column 3 image-->

        <div class="icon--img"><img alt="web-template-image-icon"
        class="columns-img" src="img/icon-3.png"></div>
        <!--End column 3 image-->

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Integer in neque libero. Aenean dignissim, elit elementum
        varius mattis.</p>
        <!--End column 3 contatc-->
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Integer in neque libero. Aenean dignissim, elit elementum
        varius mattis.</p>

          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Integer in neque libero. Aenean dignissim, elit elementum
        varius mattis.</p>
      </li><!--End icons Column 3-->
    </ul><!--End three column icons-->
    <!--Start featured 1 column-->

    <div class="one--column--featured">
      <h1>Nullam suscipit, libero at venenatis condimentum, leo diam
      dapibus neque, ut commodo ipsum nisl ut lacus. Pellentesque porta
      posuere velit, eleifend iaculis quam mattis sit amet.</h1>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Integer in neque libero. Aenean dignissim, elit elementum
        varius mattis.</p>


        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Integer in neque libero. Aenean dignissim, elit elementum
        varius mattis, libero arcu tempus est, id cursus est turpis at
        turpis. Nunc sem lacus, laoreet at blandit in, efficitur vel
        tortor. Donec pharetra a nisl sit amet cursus. Duis sodales,
        purus sed ullamcorper feugiat.</p>
      <!--End featured 1 column-->
    </div><!--Start 2 column main-->

    <div class="two--column clearfix">
      <!--Start 2 column main left content-->

      <div class="two--col--left">
        <h1>Lorem ipsum dolor sit amet</h1>

        <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Integer in neque libero.</h2>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Integer in neque libero. Aenean dignissim, elit elementum
        varius mattis, libero arcu tempus est, id cursus est turpis at
        turpis. Nunc sem lacus, laoreet at blandit in, efficitur vel
        tortor. Donec pharetra a nisl sit amet cursus. Duis sodales,
        purus sed ullamcorper feugiat.</p>

        <p></p>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Integer in neque libero. Aenean dignissim, elit elementum
        varius mattis, libero arcu tempus est, id cursus est turpis at
        turpis. Nunc sem lacus, laoreet at blandit in, efficitur vel
        tortor. Donec pharetra a nisl sit amet cursus. Duis sodales,
        purus sed ullamcorper feugiat.</p>



        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Integer in neque libero. Aenean dignissim, elit elementum
        varius mattis, libero arcu tempus est, id cursus est turpis at
        turpis. Nunc sem lacus, laoreet at blandit in, efficitur vel
        tortor. Donec pharetra a nisl sit amet cursus. Duis sodales,
        purus sed ullamcorper feugiat.</p><a class="main--button" href=
        "#">Nunc sem lacus</a>

        <p></p>
      </div><!--End 2 column main left content-->
      <!--End 2 column main right content-->

      <div class="two--col--right" id="about--us"><img alt="web-template-image-facebook"
      src="img/col-img-1.png"></div>
      <!--End 2 column main right content-->
    </div><!--End 2 column main-->


      <ul class="gallery--wrap" id="gallery">
      <!--Start gallery image one-->

      <li class="gallery--image medium">
        <a data-lightbox="gallery--image" data-title=
        "Optional caption." href="img/image-1.jpg"><img alt="image-1"
        src="img/gall-thumb-1.jpg">

        <div class="gallery--overlay"></div></a>
      </li><!--End gallery image one-->
      <!--Start gallery image two-->

      <li class="gallery--image medium">
        <a data-lightbox="gallery--image" data-title=
        "Optional caption." href="img/image-2.jpg"><img alt="image-2"
        src="img/gall-thumb-2.jpg">

        <div class="gallery--overlay"></div></a>
      </li><!--End gallery image two-->
      <!--Start gallery image three-->

      <li class="gallery--image medium">
        <a data-lightbox="gallery--image" data-title=
        "Optional caption." href="img/image-3.jpg"><img alt="image-3"
        src="img/gall-thumb-3.jpg">

        <div class="gallery--overlay"></div></a>
      </li><!--End gallery image three-->
      <!--Start gallery image four-->

      <li class="gallery--image medium">
        <a data-lightbox="gallery--image" data-title=
        "Optional caption." href="img/image-4.jpg"><img alt="image-4"
        src="img/gall-thumb-4.jpg">

        <div class="gallery--overlay"></div></a>
      </li><!--End gallery image four-->
      <!--Start gallery image five-->

      <li class="gallery--image medium">
        <a data-lightbox="gallery--image" data-title=
        "Optional caption." href="img/image-5.jpg"><img alt="image-5"
        src="img/gall-thumb-5.jpg">

        <div class="gallery--overlay"></div></a>
      </li><!--End gallery image five-->
      <!--Start gallery image six-->

      <li class="gallery--image medium">
        <a data-lightbox="gallery--image" data-title=
        "Optional caption." href="img/image-6.jpg"><img alt="image-6"
        src="img/gall-thumb-6.jpg">

        <div class="gallery--overlay"></div></a>
      </li><!--End gallery image six-->
    </ul><!--End gallery wrapper-->

    
   <div id="mainform" id="contact">
      <h2>Please feel free to use the contact form below to contact
      us!</h2><!--Start contact form-->

      <form id="form" name="form">
        <!--Start contact form heading-->

        <h3>Contact Form</h3><!--End contact form heading-->
        <!--Start contact form name-->

        <p id="returnmessage"></p><label>Name: <span>*</span></label>
        <input id="name" placeholder="Name" type="text"> 
        <!--End contact form name-->
         <!--Start contact form email-->
         <label>Email:<span>*</span></label> <input id="email"
        placeholder="Email" type="text"> <!--End contact form email-->
         <!--Begin contact form contact number-->
         <label>Contact No: <span>*</span></label> <input id="contact"
        placeholder="Phone number" type="text"> 
        <!--End contact form contact number-->
         <!--Start contact form message-->
         <label>Message:</label> 
        <textarea id="message" placeholder="Message...">
 
       </textarea>
       <!--End contact form message-->

       <!--Start contact form submit button-->
       <input id="submit" type="button" value="Send Message">
        </form><!--End contact form-->
      <!--Start google maps-->
      <iframe src=
      "https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d9119682.944654657!2d19.408238699999977!3d56.07952219479286!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2suk!4v1410828365178"
      style="border:0"></iframe> <!--End google maps-->
    </div>

  
    <!--Start footer wrapper-->

    <div class="footer">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div><!--End footer wrapper-->
  </div><!--End main wrapper-->
  
  <script src=
"http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="js/main.js"></script>

     <script src="js/smoothscroll.js"></script>



<script type="text/javascript">
  $(document).ready(function() {
  $("#submit").click(function() {
  var name = $("#name").val();
  var email = $("#email").val();
  var contact = $("#contact").val();
  var message = $("#message").val();

  $("#returnmessage").empty(); // To empty previous error/success message.
  // Checking for blank fields.
  if (name == '' || email == '' || contact == '') {
  alert("Please Fill Required Fields");
  } else {
  // Returns successful data submission message when the entered information is stored in database.
  $.post("contact_form.php", {
  name1: name,
  email1: email,
  message1: message,
  contact1: contact
  }, function(data) {
  $("#returnmessage").append(data); // Append returned message to message paragraph.
  if (data == "Your Query has been received, We will contact you soon.") {
  $("#form")[0].reset(); // To reset form fields on success.
  }
  });
  }
  });
  });
  </script>


</body>
</html>