<!DOCTYPE html>

<html lang="en">
<!--Begin head-->

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, user-scalable=no" name="viewport">
  <!--Begin page title-->

  <title>Super Skroll</title><!--End page title-->
  <!--Begin style sheets-->
  <link href="css/styles.css" rel="stylesheet">
  <link href="css/lightbox.css" rel="stylesheet">
  <link href="css/slider.css" rel="stylesheet"><!--End style sheets-->
  <!--Begin google fonts links-->
  <link href='http://fonts.googleapis.com/css?family=Oswald:400,300,700' rel=
  'stylesheet' type='text/css'>
  <link href=
  'http://fonts.googleapis.com/css?family=Roboto:400,100,300,500italic,300italic,100italic,500,700,400italic,700italic,900,900italic'
  rel='stylesheet' type='text/css'><!--End google fonts links-->
</head><!--End head-->
<!--Begin Body-->

<body>
 <div class="head--wrap clearfix">
    <!--Begin main logo-->

    <div class="logo">
      <!--Begin insert edited logo here-->
      <a href="index.html"><img alt="web-template-image-logo" src=
      "img/logo.png"></a><!-- End -->
    </div><!--End main logo-->
    <!--Begin Social media icons-->

    <div class="social--media--wrap">
      <div class="social--media">
        <ul>
          <li>
            <!--Facebook icon image-->
            <a href="#"><img alt="web-template-image-facebook" src=
            "img/facebook.png"></a>
          </li>

          <li>
            <!--Twitter icon image-->
            <a href="#"><img alt="web-template-image-twitter" src=
            "img/twitter.png"></a>
          </li>

          <li>
            <!--Linkdin icon image-->
            <a href="#"><img alt="web-template-image-linkdin" src=
            "img/linkdin.png"></a>
          </li>

          <li>
            <!--Pinterest icon image-->
            <a href="#"><img alt="web-template-image-pinterest"
            src="img/pinterest.png"></a>
          </li><!--Youtube icon image-->

          <li>
            <a href="#"><img alt="web-template-image-youtube" src=
            "img/youtube.png"></a>
          </li>

          <li>
            <!--Tumblr icon image-->
            <a href="#"><img alt="web-template-image-Tumblr" src=
            "img/tumblr.png"></a>
          </li>
        </ul>
      </div>
    </div><!--End Social media icons-->
    <!--Begin navigation-->

    <nav>
      <!--Begin Mobile navigation-->
      <a class="mobile-menu" href="#" id="touch-menu"><i class=
      "icon-reorder"></i>Menu</a> <!--End mobile navigation-->

      <ul class="menu">
        <li>
          <a href="index.html">HOME</a>
        </li>

        <li>
          <a href="page-example.html">PAGE EXAMPLE</a>
        </li>

        <li>
          <a href="#">GALLERY</a>

          <ul class="sub-menu">
            <li>
              <a href="#">BOX GALLERIES</a>

              <ul class="submenu">
                <li>
                  <a href="small-gallery.html">SMALL
                  GALLERY</a>
                </li>

                <li>
                  <a href="medium-gallery.html">MEDIUM
                  GALLERY</a>
                </li>

                <li>
                  <a href="large-gallery.html">LARGE
                  GALLERY</a>
                </li>
              </ul>
            </li>

            <li>
              <a href="slider-gallery.html">SLIDE GALLERY</a>
            </li>
          </ul>
        </li>

        <li>
          <a href="blog.html">BLOG</a>
        </li>

        <li>
          <a href="contact.html">CONTACT</a>
        </li>
      </ul>
    </nav><!--End Navigation-->
  </div><!--End header wrapper-->
  <!--Start main wrapper-->

  <div class="main--wrap clearfix">
    <!--Start main home slider-->

    <div class="one--column">
      <h1>Small Gallery</h1>

      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer
      in neque libero. Aenean dignissim, elit elementum varius mattis,
      libero arcu tempus est, id cursus est turpis at turpis. Nunc sem
      lacus, laoreet at blandit in, efficitur vel tortor. Donec pharetra
      a nisl sit amet cursus. Duis sodales, purus sed ullamcorper
      feugiat.</p>
    </div><!--Start gallery wrapper-->

    <ul class="gallery--wrap">
      <!--Start gallery image one-->

      <li class="gallery--image small">
        <a data-lightbox="gallery--image" data-title=
        "Optional caption." href="img/image-1.jpg"><img alt="image-1"
        src="img/gall-thumb-1.jpg">

        <div class="gallery--overlay"></div></a>
      </li><!--End gallery image one-->
      <!--Start gallery image two-->

      <li class="gallery--image small">
        <a data-lightbox="gallery--image" data-title=
        "Optional caption." href="img/image-2.jpg"><img alt="image-2"
        src="img/gall-thumb-2.jpg">

        <div class="gallery--overlay"></div></a>
      </li><!--End gallery image two-->
      <!--Start gallery image three-->

      <li class="gallery--image small">
        <a data-lightbox="gallery--image" data-title=
        "Optional caption." href="img/image-3.jpg"><img alt="image-3"
        src="img/gall-thumb-3.jpg">

        <div class="gallery--overlay"></div></a>
      </li><!--End gallery image three-->
      <!--Start gallery image four-->

      <li class="gallery--image small">
        <a data-lightbox="gallery--image" data-title=
        "Optional caption." href="img/image-4.jpg"><img alt="image-4"
        src="img/gall-thumb-4.jpg">

        <div class="gallery--overlay"></div></a>
      </li><!--End gallery image four-->
      <!--Start gallery image five-->

      <li class="gallery--image small">
        <a data-lightbox="gallery--image" data-title=
        "Optional caption." href="img/image-5.jpg"><img alt="image-5"
        src="img/gall-thumb-5.jpg">

        <div class="gallery--overlay"></div></a>
      </li><!--End gallery image five-->
      <!--Start gallery image six-->

      <li class="gallery--image small">
        <a data-lightbox="gallery--image" data-title=
        "Optional caption." href="img/image-6.jpg"><img alt="image-6"
        src="img/gall-thumb-6.jpg">

        <div class="gallery--overlay"></div></a>
      </li><!--End gallery image six-->
      <!--Start gallery image seven-->

      <li class="gallery--image small">
        <a data-lightbox="gallery--image" data-title=
        "Optional caption." href="img/image-7.jpg"><img alt="image-7"
        src="img/gall-thumb-7.jpg">

        <div class="gallery--overlay"></div></a>
      </li><!--End gallery image seven-->
      <!--Start gallery image eight-->

      <li class="gallery--image small">
        <a data-lightbox="gallery--image" data-title=
        "Optional caption." href="img/image-8.jpg"><img alt="image-8"
        src="img/gall-thumb-8.jpg">

        <div class="gallery--overlay"></div></a>
      </li><!--End gallery image eight-->
      <!--Start gallery image nine-->

      <li class="gallery--image small">
        <a data-lightbox="gallery--image" data-title=
        "Optional caption." href="img/image-9.jpg"><img alt="image-9"
        src="img/gall-thumb-9.jpg">

        <div class="gallery--overlay"></div></a>
      </li><!--End gallery image nine-->
      <!--Start gallery image ten-->

      <li class="gallery--image small">
        <a data-lightbox="gallery--image" data-title=
        "Optional caption." href="img/image-10.jpg"><img alt="image-10"
        src="img/gall-thumb-10.jpg">

        <div class="gallery--overlay"></div></a>
      </li><!--End gallery image ten-->
    </ul><!--End gallery wrapper-->
    <!--Start footer wrapper-->

    <div class="footer">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div><!--End footer wrapper-->
  </div><!--End main wrapper-->

  
  <script src=
"http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script> 
<script type="text/javascript" src="js/lightbox.js"></script>
<script type="text/javascript" src="js/main.js"></script>

</body>
</html>