<!DOCTYPE html>

<html lang="en">
<!--Begin head-->

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, user-scalable=no" name="viewport">
  <!--Begin page title-->

  <title>MODERN GREEN</title><!--End page title-->
  <!--Begin style sheets-->
  <link href="css/styles.css" rel="stylesheet">
  <link href="css/lightbox.css" rel="stylesheet">
  <link href="css/slider.css" rel="stylesheet"><!--End style sheets-->
  <!--Begin google fonts links-->
  <link href='http://fonts.googleapis.com/css?family=Oswald:400,300,700' rel=
  'stylesheet' type='text/css'>
  <link href=
  'http://fonts.googleapis.com/css?family=Roboto:400,100,300,500italic,300italic,100italic,500,700,400italic,700italic,900,900italic'
  rel='stylesheet' type='text/css'><!--End google fonts links-->
</head><!--End head-->
<!--Begin Body-->

<body>
  <div class="head--wrap clearfix">
    <!--Begin main logo-->

    <div class="logo">
      <!--Begin insert edited logo here-->
      <a href="index.html"><img alt="web-template-image-logo" src=
      "img/logo.png"></a><!-- End -->
    </div><!--End main logo-->
    <!--Begin Social media icons-->

    <div class="social--media--wrap">
      <div class="social--media">
        <ul>
          <li>
            <!--Facebook icon image-->
            <a href="#"><img alt="web-template-image-facebook" src=
            "img/facebook.png"></a>
          </li>

          <li>
            <!--Twitter icon image-->
            <a href="#"><img alt="web-template-image-twitter" src=
            "img/twitter.png"></a>
          </li>

          <li>
            <!--Linkdin icon image-->
            <a href="#"><img alt="web-template-image-linkdin" src=
            "img/linkdin.png"></a>
          </li>

          <li>
            <!--Pinterest icon image-->
            <a href="#"><img alt="web-template-image-pinterest"
            src="img/pinterest.png"></a>
          </li><!--Youtube icon image-->

          <li>
            <a href="#"><img alt="web-template-image-youtube" src=
            "img/youtube.png"></a>
          </li>

          <li>
            <!--Tumblr icon image-->
            <a href="#"><img alt="web-template-image-Tumblr" src=
            "img/tumblr.png"></a>
          </li>
        </ul>
      </div>
    </div><!--End Social media icons-->
    <!--Begin navigation-->

    <nav>
      <!--Begin Mobile navigation-->
      <a class="mobile-menu" href="#" id="touch-menu"><i class=
      "icon-reorder"></i>Menu</a> <!--End mobile navigation-->
       <!--End Mobile navigation-->
       <!--Begin Main navigation-->

      <ul class="menu">
        <li>
          <a href="index.html">HOME</a>
        </li>

        <li>
          <a href="page-example.html">PAGE EXAMPLE</a>
        </li>

        <li>
          <a href="#">GALLERY</a>

          <ul class="sub-menu">
            <li>
              <a href="#">BOX GALLERIES</a>

              <ul class="submenu">
                <li>
                  <a href="small-gallery.html">SMALL
                  GALLERY</a>
                </li>

                <li>
                  <a href="medium-gallery.html">MEDIUM
                  GALLERY</a>
                </li>

                <li>
                  <a href="large-gallery.html">LARGE
                  GALLERY</a>
                </li>
              </ul>
            </li>

            <li>
              <a href="slider-gallery.html">SLIDE GALLERY</a>
            </li>
          </ul>
        </li>

        <li>
          <a href="blog.html">BLOG</a>
        </li>

        <li>
          <a href="contact.html">CONTACT</a>
        </li>
      </ul><!--End Main navigation-->
    </nav><!--End Navigation-->
  </div><!--End header wrapper-->
  <!--Start main wrapper-->

  <div class="main--wrap clearfix">
    <!--Start main home slider-->
    <!--Begin two column layout-->
    <!--Begin left column layout-->

    <div class="two--column clearfix">
      <div class="two--col--left">
        <!--Begin column image-->
        <img alt="blog image" src="img/blog-img-2.jpg"> 
        <!--End column image-->
      </div><!--End left column layout-->
      <!--Begin right column layout-->

      <div class="two--col--right">
        <!--Begin blog heading-->

        <h1>BLOG HEADING</h1><!--End blog heading-->
        <!--Begin blog sub heading-->

        <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Integer in neque libero.</h2><!--End blog sub heading-->
        <!--Begin blog content-->

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Integer in neque libero. Aenean dignissim, elit elementum
        varius mattis, libero arcu tempus est, id cursus est turpis at
        turpis. Nunc sem lacus, laoreet at blandit in, efficitur vel
        tortor. Donec pharetra a nisl sit amet cursus. Duis sodales,
        purus sed ullamcorper feugiat.</p>

        <p></p>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Integer in neque libero. Aenean dignissim, elit elementum
        varius mattis, libero arcu tempus est, id cursus est turpis at
        turpis. Nunc sem lacus, laoreet at blandit in, efficitur vel
        tortor. Donec pharetra a nisl sit amet cursus. Duis sodales,
        purus sed ullamcorper feugiat.</p>

        <p></p>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Integer in neque libero. Aenean dignissim, elit elementum
        varius mattis, libero arcu tempus est, id cursus est turpis at
        turpis. Nunc sem lacus, laoreet at blandit in, efficitur vel
        tortor. Donec pharetra a nisl sit amet cursus. Duis sodales,
        purus sed ullamcorper feugiat.</p>

        <p></p>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Integer in neque libero. Aenean dignissim, elit elementum
        varius mattis, libero arcu tempus est, id cursus est turpis at
        turpis. Nunc sem lacus, laoreet at blandit in, efficitur vel
        tortor. Donec pharetra a nisl sit amet cursus. Duis sodales,
        purus sed ullamcorper feugiat.</p>

        <p></p>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Integer in neque libero. Aenean dignissim, elit elementum
        varius mattis, libero arcu tempus est, id cursus est turpis at
        turpis. Nunc sem lacus, laoreet at blandit in, efficitur vel
        tortor. Donec pharetra a nisl sit amet cursus. Duis sodales,
        purus sed ullamcorper feugiat.</p>

        <p><!--End blog content--></p>
      </div><!--End right column layout-->
    </div><!--End two column layout-->

    <div class="footer">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div><!--End footer wrapper-->
  </div><!--End main wrapper-->

  <script src=
"http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script> <script type="text/javascript" src="js/main.js"></script>
</body>
</html>