<!DOCTYPE html>

<html lang="en">
<!--Begin head-->

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, user-scalable=no" name="viewport">
  <!--Begin page title-->

  <title>MODERN GREEN</title><!--End page title-->
  <!--Begin style sheets-->
  <link href="css/styles.css" rel="stylesheet">
  <link href="css/lightbox.css" rel="stylesheet">
  <link href="css/slider.css" rel="stylesheet"><!--End style sheets-->
  <!--Begin google fonts links-->
  <link href='http://fonts.googleapis.com/css?family=Oswald:400,300,700' rel=
  'stylesheet' type='text/css'>
  <link href=
  'http://fonts.googleapis.com/css?family=Roboto:400,100,300,500italic,300italic,100italic,500,700,400italic,700italic,900,900italic'
  rel='stylesheet' type='text/css'><!--End google fonts links-->
</head><!--End head-->
<!--Begin Body-->

<body>
  <div class="head--wrap clearfix">
    <!--Begin main logo-->

    <div class="logo">
      <!--Begin insert edited logo here-->
      <a href="index.html"><img alt="web-template-image-logo" src=
      "img/logo.png"></a><!-- End -->
    </div><!--End main logo-->
    <!--Begin Social media icons-->

    <div class="social--media--wrap">
      <div class="social--media">
        <ul>
          <li>
            <!--Facebook icon image-->
            <a href="#"><img alt="web-template-image-facebook" src=
            "img/facebook.png"></a>
          </li>

          <li>
            <!--Twitter icon image-->
            <a href="#"><img alt="web-template-image-twitter" src=
            "img/twitter.png"></a>
          </li>

          <li>
            <!--Linkdin icon image-->
            <a href="#"><img alt="web-template-image-linkdin" src=
            "img/linkdin.png"></a>
          </li>

          <li>
            <!--Pinterest icon image-->
            <a href="#"><img alt="web-template-image-pinterest"
            src="img/pinterest.png"></a>
          </li><!--Youtube icon image-->

          <li>
            <a href="#"><img alt="web-template-image-youtube" src=
            "img/youtube.png"></a>
          </li>

          <li>
            <!--Tumblr icon image-->
            <a href="#"><img alt="web-template-image-Tumblr" src=
            "img/tumblr.png"></a>
          </li>
        </ul>
      </div>
    </div><!--End Social media icons-->
    <!--Begin navigation-->

    <nav>
      <!--Begin Mobile navigation-->
      <a class="mobile-menu" href="#" id="touch-menu"><i class=
      "icon-reorder"></i>Menu</a> <!--End mobile navigation-->

      <ul class="menu">
        <li>
          <a href="index.html">HOME</a>
        </li>

        <li>
          <a href="page-example.html">PAGE EXAMPLE</a>
        </li>

        <li>
          <a href="#">GALLERY</a>

          <ul class="sub-menu">
            <li>
              <a href="#">BOX GALLERIES</a>

              <ul class="submenu">
                <li>
                  <a href="small-gallery.html">SMALL
                  GALLERY</a>
                </li>

                <li>
                  <a href="medium-gallery.html">MEDIUM
                  GALLERY</a>
                </li>

                <li>
                  <a href="large-gallery.html">LARGE
                  GALLERY</a>
                </li>
              </ul>
            </li>

            <li>
              <a href="slider-gallery.html">SLIDE GALLERY</a>
            </li>
          </ul>
        </li>

        <li>
          <a href="blog.html">BLOG</a>
        </li>

        <li>
          <a href="contact.html">CONTACT</a>
        </li>
      </ul>
    </nav><!--End Navigation-->
  </div><!--End header wrapper-->
  <!--Start main wrapper-->

  <div class="main--wrap clearfix">
    <!--Start main home slider-->

    <section class="content slider">
      <section class="content-wrapper slides">
        <article class="content_article content_article--one slide">
          <div class="content_article-wrapper">
          <h1 class="content_article-h slider--heading">Welcome to
          Modern Green</h1>

          <p class="content_article-p">Lorem ipsum dolor sit amet,
          consectetur adipiscing elit. Integer in neque
          libero.</p><img alt=
          "Glide.js - Ultra efficient CSS3 transitions & transforms"
          class="content_article-img animated fadeInUpBig" src=
          "img/slider-devices.png"></div>
        </article>

        <article class="content_article content_article--two slide">
          <div class="content_article-wrapper">
          <h1 class="content_article-h slider--heading">Welcome to
          Modern Green</h1>

          <p class="content_article-p">Lorem ipsum dolor sit amet,
          consectetur adipiscing elit. Integer in neque
          libero.</p><img alt=
          "Glide.js - It’s designed to slide. No less, no more"
          class="content_article-img animated fadeOutDownBig" src=
          "img/slider-devices-2.png"></div>
        </article>

        <article class="content_article content_article--three slide">
          <div class="content_article-wrapper">
          <h1 class="content_article-h slider--heading">Welcome to
          Modern Green</h1>

          <p class="content_article-p">Lorem ipsum dolor sit amet,
          consectetur adipiscing elit. Integer in neque
          libero.</p><img alt=
          "Glide.js - It’s designed to slide. No less, no more"
          class="content_article-img animated fadeOutDownBig" src=
          "img/slider-devices-3.png"></div>
        </article>
      </section>
    </section><!--Start three column icons-->

    <ul class="three--column icon--set clearfix">
      <!--Start icons Column 1-->

      <li class="three--col--item">
        <h1>- THREE COLUMNS ICONS-</h1><!--Start column 1 content-->

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Integer in neque libero. Aenean dignissim, elit elementum
        varius mattis.</p><!--End column 1 content-->
        <!--Start column 1 image-->

        <div class="icon--img"><img alt="web-template-image-icon"
        class="columns-img" src="img/icon-1.png"></div>
        <!--End column 1 image-->
      </li><!--End icons Column 1-->
      <!--Start icons Column 2-->

      <li class="three--col--item">
        <h1>- THREE COLUMNS ICONS-</h1><!--Start column 2 content-->

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Integer in neque libero. Aenean dignissim, elit elementum
        varius mattis.</p><!--End column 2 content-->
        <!--Start column 2 image-->

        <div class="icon--img"><img alt="web-template-image-icon"
        class="columns-img" src="img/icon-2.png"></div>
        <!--End column 2 image-->
      </li><!--End icons Column 2-->
      <!--Start icons Column 3-->

      <li class="three--col--item">
        <h1>- THREE COLUMNS ICONS-</h1><!--Start column 3 content-->

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Integer in neque libero. Aenean dignissim, elit elementum
        varius mattis.</p><!--End column 3 contatc-->
        <!--Start column 3 image-->

        <div class="icon--img"><img alt="web-template-image-icon"
        class="columns-img" src="img/icon-3.png"></div>
        <!--End column 3 image-->
      </li><!--End icons Column 3-->
    </ul><!--End three column icons-->
    <!--Start featured 1 column-->

    <div class="one--column--featured">
      <h1>Nullam suscipit, libero at venenatis condimentum, leo diam
      dapibus neque, ut commodo ipsum nisl ut lacus. Pellentesque porta
      posuere velit, eleifend iaculis quam mattis sit amet.</h1>
      <!--End featured 1 column-->
    </div><!--Start 2 column main-->

    <div class="two--column clearfix">
      <!--Start 2 column main left content-->

      <div class="two--col--left">
        <h1>Lorem ipsum dolor sit amet</h1>

        <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Integer in neque libero.</h2>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Integer in neque libero. Aenean dignissim, elit elementum
        varius mattis, libero arcu tempus est, id cursus est turpis at
        turpis. Nunc sem lacus, laoreet at blandit in, efficitur vel
        tortor. Donec pharetra a nisl sit amet cursus. Duis sodales,
        purus sed ullamcorper feugiat.</p>

        <p></p>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Integer in neque libero. Aenean dignissim, elit elementum
        varius mattis, libero arcu tempus est, id cursus est turpis at
        turpis. Nunc sem lacus, laoreet at blandit in, efficitur vel
        tortor. Donec pharetra a nisl sit amet cursus. Duis sodales,
        purus sed ullamcorper feugiat.</p>

        <p></p>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Integer in neque libero. Aenean dignissim, elit elementum
        varius mattis, libero arcu tempus est, id cursus est turpis at
        turpis. Nunc sem lacus, laoreet at blandit in, efficitur vel
        tortor. Donec pharetra a nisl sit amet cursus. Duis sodales,
        purus sed ullamcorper feugiat.</p>

        <p></p>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Integer in neque libero. Aenean dignissim, elit elementum
        varius mattis, libero arcu tempus est, id cursus est turpis at
        turpis. Nunc sem lacus, laoreet at blandit in, efficitur vel
        tortor. Donec pharetra a nisl sit amet cursus. Duis sodales,
        purus sed ullamcorper feugiat.</p>

        <p></p>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Integer in neque libero. Aenean dignissim, elit elementum
        varius mattis, libero arcu tempus est, id cursus est turpis at
        turpis. Nunc sem lacus, laoreet at blandit in, efficitur vel
        tortor. Donec pharetra a nisl sit amet cursus. Duis sodales,
        purus sed ullamcorper feugiat.</p><a class="main--button" href=
        "#">Nunc sem lacus</a>

        <p></p>
      </div><!--End 2 column main left content-->
      <!--End 2 column main right content-->

      <div class="two--col--right"><img alt="web-template-image-facebook"
      src="img/col-img-1.jpg"></div>
      <!--End 2 column main right content-->
    </div><!--End 2 column main-->
    <!--Start recent blog posts wrapper-->

    <ul class="blog--posts clearfix">
      <!--Start single post wrapper-->

      <li class="blog--post--wrap">
        <!--Start post heading-->

        <h1>Recent Blog Posts</h1><!--End post heading-->
        <!--Start blog image thumbnail-->

        <div class="blog--post--left"><img alt="web-template-image"
        class="columns-img" src="img/blog-img-1.jpg"></div>
        <!--End blog image thumbnail-->
        <!--Start blog featured content-->

        <div class="blog--post--right">
          <h2>This is the blog post title</h2>

          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Integer in neque libero. Aenean dignissim, elit elementum
          varius mattis, libero arcu tempus est, id cursus est turpis
          at turpis. Nunc sem lacus, laoreet at blandit in, efficitur
          vel tortor. Donec pharetra a nisl sit amet cursus. Duis
          sodales, purus sed ullamcorper feugiat.</p>

          <p></p>

          <h4>Posted on the 29/07/2014</h4><a class="main--button"
          href="blog-1.html">View More</a>
        </div><!--End blog featured content-->
      </li><!--End single post wrapper-->
      <!--Start single post wrapper-->

      <li class="blog--post--wrap">
        <div class="blog--post--left"><img alt="web-template-image"
        class="columns-img" src="img/blog-img-2.jpg"></div>

        <div class="blog--post--right">
          <h2>This is the blog post title</h2>

          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Integer in neque libero. Aenean dignissim, elit elementum
          varius mattis, libero arcu tempus est, id cursus est turpis
          at turpis. Nunc sem lacus, laoreet at blandit in, efficitur
          vel tortor. Donec pharetra a nisl sit amet cursus. Duis
          sodales, purus sed ullamcorper feugiat.</p>

          <p></p>

          <h4>Posted on the 29/07/2014</h4><a class="main--button"
          href="blog-2.html">View More</a>
        </div>
      </li><!--End single post wrapper-->
    </ul><!--Start recent blog posts wrapper-->
    <!--Start footer wrapper-->

    <div class="footer">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div><!--End footer wrapper-->
  </div><!--End main wrapper-->
  
  <script src=
"http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script> 
  <script src="js/jquery.glide.min.js"></script>
    <script src="js/main.js"></script>

</body>
</html>