<!DOCTYPE html>

<html lang="en">
<!--Begin head-->

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, user-scalable=no" name="viewport">
  <!--Begin page title-->

  <title>MODERN GREEN</title><!--End page title-->
  <!--Begin style sheets-->
  <link href="css/styles.css" rel="stylesheet">
  <link href="css/lightbox.css" rel="stylesheet">
  <link href="css/slider.css" rel="stylesheet"><!--End style sheets-->
  <!--Begin google fonts links-->
  <link href='http://fonts.googleapis.com/css?family=Oswald:400,300,700' rel=
  'stylesheet' type='text/css'>
  <link href=
  'http://fonts.googleapis.com/css?family=Roboto:400,100,300,500italic,300italic,100italic,500,700,400italic,700italic,900,900italic'
  rel='stylesheet' type='text/css'><!--End google fonts links-->
</head><!--End head-->
<!--Begin Body-->
<body>
	<div class="head--wrap clearfix">
		<!--Begin main logo-->

		<div class="logo">
			<!--Begin insert edited logo here-->
			<a href="index.html"><img alt="web-template-image-logo" src=
			"img/logo.png"></a><!-- End -->
		</div><!--End main logo-->
		<!--Begin Social media icons-->

		<div class="social--media--wrap">
			<div class="social--media">
				<ul>
					<li>
						<!--Facebook icon image-->
						<a href="#"><img alt="web-template-image-facebook" src=
						"img/facebook.png"></a>
					</li>

					<li>
						<!--Twitter icon image-->
						<a href="#"><img alt="web-template-image-twitter" src=
						"img/twitter.png"></a>
					</li>

					<li>
						<!--Linkdin icon image-->
						<a href="#"><img alt="web-template-image-linkdin" src=
						"img/linkdin.png"></a>
					</li>

					<li>
						<!--Pinterest icon image-->
						<a href="#"><img alt="web-template-image-pinterest"
						src="img/pinterest.png"></a>
					</li><!--Youtube icon image-->

					<li>
						<a href="#"><img alt="web-template-image-youtube" src=
						"img/youtube.png"></a>
					</li>

					<li>
						<!--Tumblr icon image-->
						<a href="#"><img alt="web-template-image-Tumblr" src=
						"img/tumblr.png"></a>
					</li>
				</ul>
			</div>
		</div><!--End Social media icons-->
		<!--Begin navigation-->

		<nav>
			<!--Begin Mobile navigation-->
			<a class="mobile-menu" href="#" id="touch-menu"><i class=
			"icon-reorder"></i>Menu</a> <!--End mobile navigation-->

			<ul class="menu">
				<li>
					<a href="index.html">HOME</a>
				</li>

				<li>
					<a href="page-example.html">PAGE EXAMPLE</a>
				</li>

				<li>
					<a href="#">GALLERY</a>

					<ul class="sub-menu">
						<li>
							<a href="#">BOX GALLERIES</a>

							<ul class="submenu">
								<li>
									<a href="small-gallery.html">SMALL
									GALLERY</a>
								</li>

								<li>
									<a href="medium-gallery.html">MEDIUM
									GALLERY</a>
								</li>

								<li>
									<a href="large-gallery.html">LARGE
									GALLERY</a>
								</li>
							</ul>
						</li>

						<li>
							<a href="slider-gallery.html">SLIDE GALLERY</a>
						</li>
					</ul>
				</li>

				<li>
					<a href="blog.html">BLOG</a>
				</li>

				<li>
					<a href="contact.html">CONTACT</a>
				</li>
			</ul>
		</nav><!--End Navigation-->
	</div><!--End header wrapper-->
	<!--Start main wrapper-->

	<div class="main--wrap clearfix">
		<!--Start one column wrapper-->

		<div class="one--column">
			<h1>ONE COLUMN</h1>

			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut
			ultricies euismod tortor, ac malesuada felis lacinia a.
			Pellentesque iaculis, nunc non semper tristique, ante lacus
			volutpat erat, et bibendum dui orci eu lorem. Cras vehicula tempus
			felis, nec accumsan nunc aliquet eu. Donec euismod iaculis purus
			sit amet finibus. Curabitur eu vestibulum lectus. Maecenas ut
			consequat nibh, ac rhoncus augue. Donec ut rhoncus sapien.
			Vestibulum fermentum massa a vehicula egestas. Morbi rutrum commodo
			lectus vehicula aliquam.</p>

			<p>Nullam suscipit, libero at venenatis condimentum, leo diam
			dapibus neque, ut commodo ipsum nisl ut lacus. Pellentesque porta
			posuere velit, eleifend iaculis quam mattis sit amet. Morbi
			venenatis varius scelerisque. Nam gravida urna sit amet sapien
			mattis euismod. Cras ac dictum turpis, id porttitor mi.</p>
		</div><!--End one column wrapper-->
		<!--Start 2 column main-->

		<div class="two--column clearfix">
			<!--Start 2 column main left content-->

			<div class="two--col--left">
				<h1>Lorem ipsum dolor sit amet</h1>

				<h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
				Integer in neque libero.</h2>

				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
				Integer in neque libero. Aenean dignissim, elit elementum
				varius mattis, libero arcu tempus est, id cursus est turpis at
				turpis. Nunc sem lacus, laoreet at blandit in, efficitur vel
				tortor. Donec pharetra a nisl sit amet cursus. Duis sodales,
				purus sed ullamcorper feugiat.</p>

				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
				Integer in neque libero. Aenean dignissim, elit elementum
				varius mattis, libero arcu tempus est, id cursus est turpis at
				turpis. Nunc sem lacus, laoreet at blandit in, efficitur vel
				tortor. Donec pharetra a nisl sit amet cursus. Duis sodales,
				purus sed ullamcorper feugiat.</p>

				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
				Integer in neque libero. Aenean dignissim, elit elementum
				varius mattis, libero arcu tempus est, id cursus est turpis at
				turpis. Nunc sem lacus, laoreet at blandit in, efficitur vel
				tortor. Donec pharetra a nisl sit amet cursus. Duis sodales,
				purus sed ullamcorper feugiat.</p>

				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
				Integer in neque libero. Aenean dignissim, elit elementum
				varius mattis, libero arcu tempus est, id cursus est turpis at
				turpis. Nunc sem lacus, laoreet at blandit in, efficitur vel
				tortor. Donec pharetra a nisl sit amet cursus. Duis sodales,
				purus sed ullamcorper feugiat.</p>

				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
				Integer in neque libero. Aenean dignissim, elit elementum
				varius mattis, libero arcu tempus est, id cursus est turpis at
				turpis. Nunc sem lacus, laoreet at blandit in, efficitur vel
				tortor. Donec pharetra a nisl sit amet cursus. Duis sodales,
				purus sed ullamcorper feugiat.</p>
			</div><!--End 2 column main left content-->
			<!--Start 2 column main right content-->

			<div class="two--col--right"><img alt="web-template-image-facebook"
			src="img/col-img-1.jpg"></div>
			<!--End 2 column main right content-->
		</div><!--End 2 column main-->
		<!--Start featured 1 column-->

		<div class="one--column--featured">
			<h1>Nullam suscipit, libero at venenatis condimentum, leo diam
			dapibus neque, ut commodo ipsum nisl ut lacus. Pellentesque porta
			posuere velit, eleifend iaculis quam mattis sit amet.</h1>
		</div><!--End featured 1 column-->
		<!--Start two column small left-->

		<div class="two--col--small--left clearfix">
			<!--Start two column small left - left column-->

			<div class="small--left"><img src="img/col-img-2.jpg" alt="web template image"></div>
			<!--End two column small left - left column-->
			<!--Start two column small left - right column-->

			<div class="large--right">
				<h1>TWO COLUMN LARGE RIGHT</h1>

				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
				Integer in neque libero. Aenean dignissim, elit elementum
				varius mattis, libero arcu tempus est, id cursus est turpis at
				turpis. Nunc sem lacus, laoreet at blandit in, efficitur vel
				tortor. Donec pharetra a nisl sit amet cursus. Duis sodales,
				purus sed ullamcorper feugiat.</p>

				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
				Integer in neque libero. Aenean dignissim, elit elementum
				varius mattis, libero arcu tempus est, id cursus est turpis at
				turpis. Nunc sem lacus, laoreet at blandit in, efficitur vel
				tortor. Donec pharetra a nisl sit amet cursus. Duis sodales,
				purus sed ullamcorper feugiat.</p>

				<p></p>
			</div><!--End two column small left - right column-->
		</div><!--End two column small left-->
		<!--Start two column large left-->

		<div class="two--col--large--left clearfix">
			<!--Start two column large left - left column-->

			<div class="large--left">
				<h1>TWO COLUMN LARGE LEFT</h1>

				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
				Integer in neque libero. Aenean dignissim, elit elementum
				varius mattis, libero arcu tempus est, id cursus est turpis at
				turpis. Nunc sem lacus, laoreet at blandit in, efficitur vel
				tortor. Donec pharetra a nisl sit amet cursus. Duis sodales,
				purus sed ullamcorper feugiat.</p>

				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
				Integer in neque libero. Aenean dignissim, elit elementum
				varius mattis, libero arcu tempus est, id cursus est turpis at
				turpis. Nunc sem lacus, laoreet at blandit in, efficitur vel
				tortor. Donec pharetra a nisl sit amet cursus. Duis sodales,
				purus sed ullamcorper feugiat.</p>

				<p></p>
			</div><!--End two column large left - left column-->
			<!--Start two column large left - right column-->

			<div class="small--right"><img src="img/col-img-3.jpg" alt="web template image"></div>
			<!--End two column large left - right column-->
		</div><!--End two column large left-->
		<!--Start three column icons-->

		<ul class="three--column icon--set clearfix">
			<!--Start icons Column 1-->

			<li class="three--col--item">
				<h1>- THREE COLUMNS ICONS-</h1><!--Start column 1 content-->

				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
				Integer in neque libero. Aenean dignissim, elit elementum
				varius mattis.</p><!--End column 1 content-->
				<!--Start column 1 image-->

				<div class="icon--img"><img alt="web-template-image-icon"
				class="columns-img" src="img/icon-1.png"></div>
				<!--End column 1 image-->
			</li><!--End icons Column 1-->
			<!--Start icons Column 2-->

			<li class="three--col--item">
				<h1>- THREE COLUMNS ICONS-</h1><!--Start column 2 content-->

				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
				Integer in neque libero. Aenean dignissim, elit elementum
				varius mattis.</p><!--End column 2 content-->
				<!--Start column 2 image-->

				<div class="icon--img"><img alt="web-template-image-icon"
				class="columns-img" src="img/icon-2.png"></div>
				<!--End column 2 image-->
			</li><!--End icons Column 2-->
			<!--Start icons Column 3-->

			<li class="three--col--item">
				<h1>- THREE COLUMNS ICONS-</h1><!--Start column 3 content-->

				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
				Integer in neque libero. Aenean dignissim, elit elementum
				varius mattis.</p><!--End column 3 contatc-->
				<!--Start column 3 image-->

				<div class="icon--img"><img alt="web-template-image-icon"
				class="columns-img" src="img/icon-3.png"></div>
				<!--End column 3 image-->
			</li><!--End icons Column 3-->
		</ul><!--End three column icons-->
		<!--Start three column normal-->

		<ul class="three--column clearfix">
			<!--Start three column normal - col one-->

			<li class="three--col--item">
				<h1>- THREE COLUMNS-</h1>

				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
				Integer in neque libero. Aenean dignissim, elit elementum
				varius mattis, libero arcu tempus est, id cursus est turpis at
				turpis. Nunc sem lacus, laoreet at blandit in, efficitur vel
				tortor. Donec pharetra a nisl sit amet cursus. Duis sodales,
				purus sed ullamcorper feugiat.</p>

				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
				Integer in neque libero. Aenean dignissim, elit elementum
				varius mattis, libero arcu tempus est,</p>
			</li><!--End three column normal - col one-->
			<!--Start three column normal - col two-->

			<li class="three--col--item">
				<h1>- THREE COLUMNS-</h1>

				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
				Integer in neque libero. Aenean dignissim, elit elementum
				varius mattis, libero arcu tempus est, id cursus est turpis at
				turpis. Nunc sem lacus, laoreet at blandit in, efficitur vel
				tortor. Donec pharetra a nisl sit amet cursus. Duis sodales,
				purus sed ullamcorper feugiat.</p>

				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
				Integer in neque libero. Aenean dignissim, elit elementum
				varius mattis, libero arcu tempus est,</p>
			</li><!--End three column normal - col one-->
			<!--Start three column normal - col three-->

			<li class="three--col--item">
				<h1>- THREE COLUMNS-</h1>

				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
				Integer in neque libero. Aenean dignissim, elit elementum
				varius mattis, libero arcu tempus est, id cursus est turpis at
				turpis. Nunc sem lacus, laoreet at blandit in, efficitur vel
				tortor. Donec pharetra a nisl sit amet cursus. Duis sodales,
				purus sed ullamcorper feugiat.</p>

				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
				Integer in neque libero. Aenean dignissim, elit elementum
				varius mattis, libero arcu tempus est,</p>
			</li><!--End three column normal - col one-->
		</ul><!--End three column normal-->
		<!--Start four column icons-->

		<ul class="four--col icon--set clearfix">
			<!--Start four column icons - icon one-->

			<li class="four--col--item">
				<h3>- FOUR COLUMNS ICONS-</h3>

				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
				Integer in neque libero. Aenean dignissim, elit elementum
				varius mattis</p><!--Start four column icons - icon image-->

				<div class="icon--img"><img class="columns-img" src=
				"img/icon-1.png" alt="web template image icon"></div>
				<!--End four column icons - icon image-->
			</li><!--End four column icons - icon one-->
			<!--Start four column icons - icon one-->

			<li class="four--col--item">
				<h3>- FOUR COLUMNS ICONS-</h3>

				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
				Integer in neque libero. Aenean dignissim, elit elementum
				varius mattis</p><!--Start four column icons - icon image-->

				<div class="icon--img"><img class="columns-img" src=
				"img/icon-2.png" alt="web template image icon"></div>
				<!--End four column icons - icon image-->
			</li><!--End four column icons - icon one-->
			<!--Start four column icons - icon one-->

			<li class="four--col--item">
				<h3>- FOUR COLUMNS ICONS-</h3>

				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
				Integer in neque libero. Aenean dignissim, elit elementum
				varius mattis</p>

				<p></p><!--Start four column icons - icon image-->

				<div class="icon--img"><img class="columns-img" src=
				"img/icon-3.png" alt="web template image icon"></div>
				<!--End four column icons - icon image-->
			</li><!--End four column icons - icon one-->
			<!--Start four column icons - icon one-->

			<li class="four--col--item">
				<h3>- FOUR COLUMNS ICONS-</h3>

				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
				Integer in neque libero. Aenean dignissim, elit elementum
				varius mattis</p><!--Start four column icons - icon image-->

				<div class="icon--img"><img class="columns-img" src=
				"img/icon-4.png" alt="web template image icon"></div>
				<!--End four column icons - icon image-->
			</li><!--End four column icons - icon one-->
		</ul><!--Start four column icons-->
		<!--Start four column normal-->

		<ul class="four--col clearfix">
			<!--Start four column normal - column one-->

			<li class="four--col--item">
				<h3>- FOUR COLUMNS NORMAL-</h3>

				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
				Integer in neque libero. Aenean dignissim, elit elementum
				varius mattis, libero arcu tempus est, id cursus est turpis at
				turpis. Nunc sem lacus, laoreet at blandit in, efficitur vel
				tortor. Donec pharetra a nisl sit amet cursus. Duis sodales,
				purus sed ullamcorper feugiat.</p>

				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
				Integer in neque libero. Aenean dignissim, elit elementum
				varius mattis, libero arcu tempus est, id cursus est turpis at
				turpis. Nunc sem lacus, laoreet at blandit in, efficitur vel
				tortor. Donec pharetra a nisl sit amet cursus. Duis sodales,
				purus sed ullamcorper feugiat.</p>

				<p></p>
			</li><!--End four column normal - column one-->
			<!--Start four column normal - column two-->

			<li class="four--col--item">
				<h3>- FOUR COLUMNS NORMAL-</h3>

				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
				Integer in neque libero. Aenean dignissim, elit elementum
				varius mattis, libero arcu tempus est, id cursus est turpis at
				turpis. Nunc sem lacus, laoreet at blandit in, efficitur vel
				tortor. Donec pharetra a nisl sit amet cursus. Duis sodales,
				purus sed ullamcorper feugiat.</p>

				<p></p>

				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
				Integer in neque libero. Aenean dignissim, elit elementum
				varius mattis, libero arcu tempus est, id cursus est turpis at
				turpis. Nunc sem lacus, laoreet at blandit in, efficitur vel
				tortor. Donec pharetra a nisl sit amet cursus. Duis sodales,
				purus sed ullamcorper feugiat.</p>
			</li><!--End four column normal - column two-->
			<!--Start four column normal - column three-->

			<li class="four--col--item">
				<h3>- FOUR COLUMNS NORMAL-</h3>

				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
				Integer in neque libero. Aenean dignissim, elit elementum
				varius mattis, libero arcu tempus est, id cursus est turpis at
				turpis. Nunc sem lacus, laoreet at blandit in, efficitur vel
				tortor. Donec pharetra a nisl sit amet cursus. Duis sodales,
				purus sed ullamcorper feugiat.</p>

				<p></p>

				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
				Integer in neque libero. Aenean dignissim, elit elementum
				varius mattis, libero arcu tempus est, id cursus est turpis at
				turpis. Nunc sem lacus, laoreet at blandit in, efficitur vel
				tortor. Donec pharetra a nisl sit amet cursus. Duis sodales,
				purus sed ullamcorper feugiat.</p>
			</li><!--End four column normal - column three-->
			<!--Start four column normal - column four-->

			<li class="four--col--item">
				<h3>- FOUR COLUMNS NORMAL-</h3>

				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
				Integer in neque libero. Aenean dignissim, elit elementum
				varius mattis, libero arcu tempus est, id cursus est turpis at
				turpis. Nunc sem lacus, laoreet at blandit in, efficitur vel
				tortor. Donec pharetra a nisl sit amet cursus. Duis sodales,
				purus sed ullamcorper feugiat.</p>

				<p></p>

				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
				Integer in neque libero. Aenean dignissim, elit elementum
				varius mattis, libero arcu tempus est, id cursus est turpis at
				turpis. Nunc sem lacus, laoreet at blandit in, efficitur vel
				tortor. Donec pharetra a nisl sit amet cursus. Duis sodales,
				purus sed ullamcorper feugiat.</p>
			</li><!--End four column normal - column four-->
		</ul><!--Start footer wrapper -->

		<div class="footer">
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
		</div><!--End footer wrapper-->
	</div><!--End main wrapper-->
  
  <script src=
"http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script> 
<script type="text/javascript" src="js/main.js"></script>

</body>
</html>